In [43]:
!kaggle datasets download -d khushikyad001/finance-and-economics-dataset-2000-present

Dataset URL: https://www.kaggle.com/datasets/khushikyad001/finance-and-economics-dataset-2000-present
License(s): MIT
finance-and-economics-dataset-2000-present.zip: Skipping, found more recently modified local copy (use --force to force download)

In [44]:
import zipfile
import os

# Define the zip file path
zip_path = "finance-and-economics-dataset-2000-present.zip"

# Extract the files
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall("finance-and-economics-dataset-2000-present")  # Extract into a folder

# Check extracted files
print("Extracted files:", os.listdir("finance-and-economics-dataset-2000-present"))

Extracted files: ['finance_economics_dataset.csv']

In [45]:
import pandas as pd

# Find the CSV file
folder_path = "finance-and-economics-dataset-2000-present"
files = os.listdir(folder_path)
csv_file = [file for file in files if file.endswith(".csv")]

if csv_file:
    # Load the CSV into Pandas
    df = pd.read_csv(os.path.join(folder_path, csv_file[0]))
    print(df.head())  # Display the first few rows
else:
    print("No CSV file found in the extracted folder.")

         Date Stock Index  Open Price  Close Price  Daily High  Daily Low  \
0  2000-01-01   Dow Jones     2128.75      2138.48     2143.70    2100.55
1  2000-01-02     S&P 500     2046.82      2036.18     2082.83    2009.53
2  2000-01-03   Dow Jones     1987.92      1985.26     2022.28    1978.37
3  2000-01-04   Dow Jones     4625.02      4660.47     4665.26    4595.46
4  2000-01-05     S&P 500     1998.18      1982.18     2044.31    1966.44

   Trading Volume  GDP Growth (%)  Inflation Rate (%)  Unemployment Rate (%)  \
0         2670411           -0.37                6.06                   6.10
1       690220415            3.19                4.95                   6.62
2       315284661            5.54                9.13                   2.60
3        13098297           10.00                3.77                   2.20
4       385306746            1.53                2.20                   8.20

   ...  Forex USD/EUR  Forex USD/JPY  Crude Oil Price (USD per Barrel)  \
0  ...           1.04         119.87                             47.20
1  ...           1.00          98.22                             52.84
2  ...           0.83          80.13                             78.80
3  ...           0.95         149.15                             28.18
4  ...           1.43         113.71                             92.20

   Gold Price (USD per Ounce)  Real Estate Index  Retail Sales (Billion USD)  \
0                     1052.34             390.23                        2229
1                     1957.73             346.23                        4156
2                     2339.49             439.46                         340
3                     1308.54             213.07                        8456
4                     2210.08             405.49                        1596

   Bankruptcy Rate (%)  Mergers & Acquisitions Deals  \
0                 2.12                             3
1                 1.40                            21
2                 0.79                            48
3                 4.22                            16
4                 2.21                            34

   Venture Capital Funding (Billion USD)  Consumer Spending (Billion USD)
0                                  76.64                             4589
1                                   5.67                            10101
2                                  39.43                            13665
3                                  12.83                             5192
4                                  86.37                            10688

[5 rows x 24 columns]

In [47]:
df

,Date,Stock Index,Open Price,Close Price,Daily High,Daily Low,Trading Volume,GDP Growth (%),Inflation Rate (%),Unemployment Rate (%),...,Forex USD/EUR,Forex USD/JPY,Crude Oil Price (USD per Barrel),Gold Price (USD per Ounce),Real Estate Index,Retail Sales (Billion USD),Bankruptcy Rate (%),Mergers & Acquisitions Deals,Venture Capital Funding (Billion USD),Consumer Spending (Billion USD)
0,2000-01-01,Dow Jones,2128.75,2138.48,2143.70,2100.55,2670411,-0.37,6.06,6.10,...,1.04,119.87,47.20,1052.34,390.23,2229,2.12,3,76.64,4589
1,2000-01-02,S&P 500,2046.82,2036.18,2082.83,2009.53,690220415,3.19,4.95,6.62,...,1.00,98.22,52.84,1957.73,346.23,4156,1.40,21,5.67,10101
2,2000-01-03,Dow Jones,1987.92,1985.26,2022.28,1978.37,315284661,5.54,9.13,2.60,...,0.83,80.13,78.80,2339.49,439.46,340,0.79,48,39.43,13665
3,2000-01-04,Dow Jones,4625.02,4660.47,4665.26,4595.46,13098297,10.00,3.77,2.20,...,0.95,149.15,28.18,1308.54,213.07,8456,4.22,16,12.83,5192
4,2000-01-05,S&P 500,1998.18,1982.18,2044.31,1966.44,385306746,1.53,2.20,8.20,...,1.43,113.71,92.20,2210.08,405.49,1596,2.21,34,86.37,10688
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2008-03-14,Dow Jones,1273.76,1235.44,1317.28,1192.34,86910001,8.84,7.00,10.44,...,1.18,113.52,61.98,2385.41,298.72,3033,8.75,35,66.01,2200
2996,2008-03-15,S&P 500,4589.59,4566.91,4607.56,4545.69,303579301,-1.88,9.15,5.61,...,1.17,147.10,31.61,2147.13,143.43,7950,5.07,18,25.49,5261
2997,2008-03-16,S&P 500,1477.52,1448.47,1523.86,1402.69,442387176,4.07,0.88,8.91,...,1.02,81.99,45.64,1943.61,105.81,3894,5.78,4,14.29,12039
2998,2008-03-17,NASDAQ,2311.37,2306.90,2346.30,2282.00,523425925,1.06,8.61,10.15,...,1.49,86.42,123.25,2211.40,236.07,2543,2.35,22,94.34,11979
2999,2008-03-18,NASDAQ,4262.98,4303.82,4316.68,4243.04,990814609,6.61,7.93,10.32,...,0.85,97.03,144.06,1225.09,201.82,4354,7.99,43,63.36,11220

In [48]:
df.isnull().sum()

Date                                     0
Stock Index                              0
Open Price                               0
Close Price                              0
Daily High                               0
Daily Low                                0
Trading Volume                           0
GDP Growth (%)                           0
Inflation Rate (%)                       0
Unemployment Rate (%)                    0
Interest Rate (%)                        0
Consumer Confidence Index                0
Government Debt (Billion USD)            0
Corporate Profits (Billion USD)          0
Forex USD/EUR                            0
Forex USD/JPY                            0
Crude Oil Price (USD per Barrel)         0
Gold Price (USD per Ounce)               0
Real Estate Index                        0
Retail Sales (Billion USD)               0
Bankruptcy Rate (%)                      0
Mergers & Acquisitions Deals             0
Venture Capital Funding (Billion USD)    0
Consumer Spending (Billion USD)          0
dtype: int64

In [49]:
df.iloc[1,10:12]

Interest Rate (%)            2.19
Consumer Confidence Index     101
Name: 1, dtype: object

In [50]:
df.head(0)

Empty DataFrame
Columns: [Date, Stock Index, Open Price, Close Price, Daily High, Daily Low, Trading Volume, GDP Growth (%), Inflation Rate (%), Unemployment Rate (%), Interest Rate (%), Consumer Confidence Index, Government Debt (Billion USD), Corporate Profits (Billion USD), Forex USD/EUR, Forex USD/JPY, Crude Oil Price (USD per Barrel), Gold Price (USD per Ounce), Real Estate Index, Retail Sales (Billion USD), Bankruptcy Rate (%), Mergers & Acquisitions Deals, Venture Capital Funding (Billion USD), Consumer Spending (Billion USD)]
Index: []

[0 rows x 24 columns]

In [51]:
df.head(2)

,Date,Stock Index,Open Price,Close Price,Daily High,Daily Low,Trading Volume,GDP Growth (%),Inflation Rate (%),Unemployment Rate (%),...,Forex USD/EUR,Forex USD/JPY,Crude Oil Price (USD per Barrel),Gold Price (USD per Ounce),Real Estate Index,Retail Sales (Billion USD),Bankruptcy Rate (%),Mergers & Acquisitions Deals,Venture Capital Funding (Billion USD),Consumer Spending (Billion USD)
0,2000-01-01,Dow Jones,2128.75,2138.48,2143.70,2100.55,2670411,-0.37,6.06,6.10,...,1.04,119.87,47.20,1052.34,390.23,2229,2.12,3,76.64,4589
1,2000-01-02,S&P 500,2046.82,2036.18,2082.83,2009.53,690220415,3.19,4.95,6.62,...,1.00,98.22,52.84,1957.73,346.23,4156,1.40,21,5.67,10101

In [22]:
df.dtypes

Date                                      object
Stock Index                               object
Open Price                               float64
Close Price                              float64
Daily High                               float64
Daily Low                                float64
Trading Volume                             int64
GDP Growth (%)                           float64
Inflation Rate (%)                       float64
Unemployment Rate (%)                    float64
Interest Rate (%)                        float64
Consumer Confidence Index                  int64
Government Debt (Billion USD)              int64
Corporate Profits (Billion USD)            int64
Forex USD/EUR                            float64
Forex USD/JPY                            float64
Crude Oil Price (USD per Barrel)         float64
Gold Price (USD per Ounce)               float64
Real Estate Index                        float64
Retail Sales (Billion USD)                 int64
Bankruptcy Rate (%)                      float64
Mergers & Acquisitions Deals               int64
Venture Capital Funding (Billion USD)    float64
Consumer Spending (Billion USD)            int64
dtype: object

In [52]:
df['Date']=df['Date'].astype('datetime64[ns]')

In [53]:
df.dtypes

Date                                     datetime64[ns]
Stock Index                                      object
Open Price                                      float64
Close Price                                     float64
Daily High                                      float64
Daily Low                                       float64
Trading Volume                                    int64
GDP Growth (%)                                  float64
Inflation Rate (%)                              float64
Unemployment Rate (%)                           float64
Interest Rate (%)                               float64
Consumer Confidence Index                         int64
Government Debt (Billion USD)                     int64
Corporate Profits (Billion USD)                   int64
Forex USD/EUR                                   float64
Forex USD/JPY                                   float64
Crude Oil Price (USD per Barrel)                float64
Gold Price (USD per Ounce)                      float64
Real Estate Index                               float64
Retail Sales (Billion USD)                        int64
Bankruptcy Rate (%)                             float64
Mergers & Acquisitions Deals                      int64
Venture Capital Funding (Billion USD)           float64
Consumer Spending (Billion USD)                   int64
dtype: object

In [54]:
df=df.rename(columns= lambda x: x.lower().replace(' ','_'))

In [55]:
df.columns

Index(['date', 'stock_index', 'open_price', 'close_price', 'daily_high',
       'daily_low', 'trading_volume', 'gdp_growth_(%)', 'inflation_rate_(%)',
       'unemployment_rate_(%)', 'interest_rate_(%)',
       'consumer_confidence_index', 'government_debt_(billion_usd)',
       'corporate_profits_(billion_usd)', 'forex_usd/eur', 'forex_usd/jpy',
       'crude_oil_price_(usd_per_barrel)', 'gold_price_(usd_per_ounce)',
       'real_estate_index', 'retail_sales_(billion_usd)',
       'bankruptcy_rate_(%)', 'mergers_&_acquisitions_deals',
       'venture_capital_funding_(billion_usd)',
       'consumer_spending_(billion_usd)'],
      dtype='object')

In [56]:
df.columns=df.columns.str.replace(r"_(?=\()", "", regex=True)

In [57]:
df.columns

Index(['date', 'stock_index', 'open_price', 'close_price', 'daily_high',
       'daily_low', 'trading_volume', 'gdp_growth(%)', 'inflation_rate(%)',
       'unemployment_rate(%)', 'interest_rate(%)', 'consumer_confidence_index',
       'government_debt(billion_usd)', 'corporate_profits(billion_usd)',
       'forex_usd/eur', 'forex_usd/jpy', 'crude_oil_price(usd_per_barrel)',
       'gold_price(usd_per_ounce)', 'real_estate_index',
       'retail_sales(billion_usd)', 'bankruptcy_rate(%)',
       'mergers_&_acquisitions_deals', 'venture_capital_funding(billion_usd)',
       'consumer_spending(billion_usd)'],
      dtype='object')

In [58]:
df.head(2)

,date,stock_index,open_price,close_price,daily_high,daily_low,trading_volume,gdp_growth(%),inflation_rate(%),unemployment_rate(%),...,forex_usd/eur,forex_usd/jpy,crude_oil_price(usd_per_barrel),gold_price(usd_per_ounce),real_estate_index,retail_sales(billion_usd),bankruptcy_rate(%),mergers_&_acquisitions_deals,venture_capital_funding(billion_usd),consumer_spending(billion_usd)
0,2000-01-01,Dow Jones,2128.75,2138.48,2143.70,2100.55,2670411,-0.37,6.06,6.10,...,1.04,119.87,47.20,1052.34,390.23,2229,2.12,3,76.64,4589
1,2000-01-02,S&P 500,2046.82,2036.18,2082.83,2009.53,690220415,3.19,4.95,6.62,...,1.00,98.22,52.84,1957.73,346.23,4156,1.40,21,5.67,10101

In [61]:
df=df.rename(columns=({'gdp_growth(%)':'gdp_growth_rate',
                       'inflation_rate(%)':'inflation_rate',
                       'unemployment_rate(%)':'unemployement_rate',
                       'interest_rate(%)':'int_rate',
                       'government_debt(billion_usd)':'govt_debt',
                       'corporate_profits(billion_usd)':'corporate_profits',
                        'forex_usd/eur':'forex_us',
                       'crude_oil_price(usd_per_barrel)':'crude_oil_per_barrel',
                       'gold_price(usd_per_ounce)':'gold_per_ounce',
                       'retail_sales(billion_usd)':'retail_sales',
                       'bankruptcy_rate(%)':'bankruptcy_rate',
                       'mergers_&_acquisitions_deals':'merger_acquisition_deal',
                       'venture_capital_funding(billion_usd)':'venture_fundings',
                       'consumer_spending(billion_usd)':'consumer_spendings'}))

In [62]:
df.columns

Index(['date', 'stock_index', 'open_price', 'close_price', 'daily_high',
       'daily_low', 'trading_volume', 'gdp_growth_rate', 'inflation_rate',
       'unemployement_rate', 'int_rate', 'consumer_confidence_index',
       'govt_debt', 'corporate_profits', 'forex_us', 'forex_usd/jpy',
       'crude_oil_per_barrel', 'gold_per_ounce', 'real_estate_index',
       'retail_sales', 'bankruptcy_rate', 'merger_acquisition_deal',
       'venture_fundings', 'consumer_spendings'],
      dtype='object')

In [63]:
df.head(5)

,date,stock_index,open_price,close_price,daily_high,daily_low,trading_volume,gdp_growth_rate,inflation_rate,unemployement_rate,...,forex_us,forex_usd/jpy,crude_oil_per_barrel,gold_per_ounce,real_estate_index,retail_sales,bankruptcy_rate,merger_acquisition_deal,venture_fundings,consumer_spendings
0,2000-01-01,Dow Jones,2128.75,2138.48,2143.70,2100.55,2670411,-0.37,6.06,6.10,...,1.04,119.87,47.20,1052.34,390.23,2229,2.12,3,76.64,4589
1,2000-01-02,S&P 500,2046.82,2036.18,2082.83,2009.53,690220415,3.19,4.95,6.62,...,1.00,98.22,52.84,1957.73,346.23,4156,1.40,21,5.67,10101
2,2000-01-03,Dow Jones,1987.92,1985.26,2022.28,1978.37,315284661,5.54,9.13,2.60,...,0.83,80.13,78.80,2339.49,439.46,340,0.79,48,39.43,13665
3,2000-01-04,Dow Jones,4625.02,4660.47,4665.26,4595.46,13098297,10.00,3.77,2.20,...,0.95,149.15,28.18,1308.54,213.07,8456,4.22,16,12.83,5192
4,2000-01-05,S&P 500,1998.18,1982.18,2044.31,1966.44,385306746,1.53,2.20,8.20,...,1.43,113.71,92.20,2210.08,405.49,1596,2.21,34,86.37,10688

In [65]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2995    False
2996    False
2997    False
2998    False
2999    False
Length: 3000, dtype: bool

In [67]:
import sqlalchemy as sal
engine= sal.create_engine('mssql://SATYAM/global?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn=engine.connect()

In [68]:
#load the data into sql server using append option

df.to_sql('df_finance',con=conn, index=False, if_exists= 'replace')

42